html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}


#wholeRoom {
	position: absolute;
	top: 10px;
	left: 100px;
	width: 500px;
	height: 500px;

	border: 2px solid #000;
	border-radius: 10px;

	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);
}

#firstNumber {
	position: absolute;
	top: 100px;
	left: 60px;

	width: 60px;
	height: 40px;
	background: yellow;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-left: 0px;
	padding-top: 20px;
}

#the_Plus {
	position: absolute;
	top: 115px;
	left: 140px;

	width: 35px;
	height: 35px;
	background: url("images/plus.png");
}

#secondNumber {
	position: absolute;
	top: 100px;
	left: 190px;

	width: 60px;
	height: 40px;
	background: yellow;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-top: 20px;
}

#the_equal{
	position: absolute;
	top: 115px;
	left: 280px;

	width: 35px;
	height: 35px;
	background: url("images/equal.png");
}

#result {
	position: absolute;
	top: 100px;
	left: 340px;

	width: 60px;
	height: 40px;
	background: yellow;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-top: 20px;
}

#choseNumbers {
	position: absolute;
	top: 300px;
	left: 30px;
}

#number1, #number2, #number3, #number4, #number5,
#number6, #number7, #number8, #number9, #number10 {
	width: 22px;
	height: 30px;
	background: yellow;
	font-size: 1.5em;
	float: left;
	margin: 0px 5px 0px 5px;
	padding-top: 2px;
	padding-left: 8px;

	border: 2px solid #333;
	border-radius: 10px;
}

#number10 {
	width: 28px;
	padding-left: 2px;
}

#inResult {
	width: 30px;
	height: 28px;

	font-size: 1.5em;


	margin-left: 13px;
	margin-top: -7px;

	padding-top: 2px;

	border: 2px solid #333;
	border-radius: 10px;
	background: red;
}

#popUp{
	background: gray;
	width: 150px;
	height: 150px;
	margin-top: 220px;	
	margin-left: 55px;
	float: left;
	border-radius: 10px;
}

#score {
	position: absolute;
	top: 205px;
	left: 280px;
	width: 170px;
	height: 60px;
}

#stars{
	float: left;
}

#starMe{
	background-image:url("images/star.png");
	position: relative;
	top: 60px;
	left: 50px;
	width: 58px;
	height: 56px;
}

button{
	font-size: 0.8em;
	margin: 0 auto;
	margin-top: 14%;
	margin-left: 19%;
}