html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}


#wholeRoom {
	position: absolute;
	top: 20px;
	left: 30px;
	width: 815px;
	height: 550px;
	background: #b53131;

	border: 2px solid #000;
	border-radius: 10px;

	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);
}

#firstNumber {
	position: absolute;
	top: 150px;
	left: 80px;

	width: 90px;
	height: 70px;
	background: yellow;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-left: 0px;
	padding-top: 20px;

	font-size: 2.5em;
	font-weight: bold;
}

#toShowFirst1, #toShowSecond1, #toShowResult1{
	background-image: url("images/a1.png");
	float: left;
	margin: 0;
	margin-left: -15px;
	margin-top: -30px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst2, #toShowSecond2, #toShowResult2 {
	background-image:url("images/a2.png");
	float: left;
	margin-left: -40px;
	margin-top: -30px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst3, #toShowSecond3, #toShowResult3 {
	background-image:url("images/a3.png");
	float: left;
	margin-left: -47px;
	margin-top: -30px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst4, #toShowSecond4, #toShowResult4 {
	background-image:url("images/a4.png");
	float: left;
	margin-left: -15px;
	margin-top: -50px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst5, #toShowSecond5, #toShowResult5 {
	background-image:url("images/a5.png");
	float: left;
	margin-left: -45px;
	margin-top: -50px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst6, #toShowSecond6, #toShowResult6 {
	background-image:url("images/a6.png");
	float: left;
	margin-left: -45px;
	margin-top: -50px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}


#toShowFirst7, #toShowSecond7, #toShowResult7 {
	background-image:url("images/a7.png");
	float: left;
	margin-left: -20px;
	margin-top: -50px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst8, #toShowSecond8, #toShowResult8 {
	background-image:url("images/animal1.png");
	float: left;
	margin-left: -40px;
	margin-top: -50px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst9, #toShowSecond9, #toShowResult9 {
	background-image:url("images/animal2.png");
	float: left;
	margin-left: -50px;
	margin-top: -50px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst10, #toShowSecond10, #toShowResult10 {
	background-image:url("images/animal3.png");
	float: left;
	margin-left: -15px;
	margin-top: -50px;
	padding: 0;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#toShowFirst2:hover{
	background-image:url("images/a2_hover.png");
}

#toShowFirst2:active{
	background-image:url("images/a2_active.png");

}

#the_Plus {
	position: absolute;
	top: 180px;
	left: 248px;

	width: 35px;
	height: 35px;
	background: url("images/plus.png");
}

#secondNumber {
	position: absolute;
	top: 150px;
	left: 360px;

	width: 90px;
	height: 70px;
	background: yellow;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-left: 0px;
	padding-top: 20px;

	font-size: 2.5em;
	font-weight: bold;
}

#the_equal{
	position: absolute;
	top: 180px;
	left: 530px;

	width: 35px;
	height: 35px;
	background: url("images/equal.png");
}

#result {
	position: absolute;
	top: 150px;
	left: 640px;

	width: 90px;
	height: 75px;
	background: yellow;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-left: 0px;
	padding-top: 15px;

	font-weight: bold;
	font-size: 2.5em;

}

#choseNumbers {
	position: absolute;
	top: 40px;
	left: 100px;
}

#number1, #number2, #number3, #number4, #number5,
#number6, #number7, #number8, #number9, #number10 {
	width: 35px;
	height: 50px;
	background: yellow;
	font-size: 1.5em;
	float: left;
	margin: 0px 5px 0px 5px;
	padding-top: 0px;
	padding-left: 13px;

	border: 2px solid #333;
	border-radius: 10px;

	font-size: 2.5em;
}

#number1:hover, #number2:hover, #number3:hover, #number4:hover, #number5:hover,
#number6:hover, #number7:hover, #number8:hover, #number9:hover, #number10:hover {
	box-shadow: 0px 0px 10px yellow;
	cursor:default;
}

#number10 {
	width: 48px;
	padding-left: 4px;
}

#inResult {
	width: 70px;
	height: 68px;

	font-size: 1.5em;


	margin-left: 8px;
	margin-top: -7px;

	padding-top: 2px;

	border: 2px solid #333;
	border-radius: 10px;
	background: red;
}

#showFirst {
	position: absolute;
	top: 280px;
	left: 20px;
	width: 210px;
	height: 210px;
	background: #eaeaea;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);
}

#the_Plus_2 {
	position: absolute;
	top: 370px;
	left: 248px;

	width: 35px;
	height: 35px;
	background: url("images/plus.png");
}

#showSecond{
	position: absolute;
	top: 280px;
	left: 300px;
	width: 210px;
	height: 210px;
	background: #eaeaea;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);
}

#the_equal_2 {
	position: absolute;
	top: 370px;
	left: 530px;

	width: 35px;
	height: 35px;
	background: url("images/equal.png");
}


#result_2{
	position: absolute;
	top: 280px;
	left: 580px;
	width: 210px;
	height: 210px;
	background: #eaeaea;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);
}


#popUp{
	position: absolute;
	top: 20px;
	left: 820px;
	background: gray;
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 10px;
}

#score {
	position: absolute;
	top: 170px;
	left: 795px;
	width: 270px;
	height: 60px;
	font-size: 1.3em;
	color: #fff;
}

#stars{
	float: left;
}

#starMe{
	background-image:url("images/star.png");
	position: relative;
	top: 60px;
	left: 70px;
	width: 58px;
	height: 56px;
}

button{
	font-size: 0.8em;
	margin: 0 auto;
	margin-top: 14%;
	margin-left: 19%;
}