html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    font-family: Arial;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}


#girly {
	position: absolute;
	left: 750px;
	top: 260px;

}

#boyish {
	position: absolute;
	left: 750px;
	top: 260px;
}

#text_blob {
	position: absolute;
	top: -60px;
	left: 480px;
	background: url("images/text_blob.png");
	width: 640px;
	height: 400px;

	-ms-transform: scale(0.6,0.6); /* IE 9 */
    -webkit-transform: scale(0.6,0.6); /* Chrome, Safari, Opera */
    transform: scale(0.6,0.6); /* Standard syntax */
}

#help_text {
	position: absolute;
	top: 80px;
	left: 680px;
	width: 300px;
}

#help_text_sq {
	position: absolute;
	top: 80px;
	left: 670px;
	width: 300px;
}

/*================books.html page=============*/
#my_room {
position: absolute;
	left: 20px;
	top: 65px;
	background:url("images/my_room_big.png") repeat-x;
	background:url("images/my_room_big_white.jpg") repeat-x;
	background-position: 0 -40px;
	width: 1100px;
	height: 630px;

	border: 2px solid #000;
	border-radius: 10px;

	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);

	-ms-transform: scale(1,1.2); /* IE 9 */
    -webkit-transform: scale(1,1.2); /* Chrome, Safari, Opera */
    transform: scale(1,1.2); /* Standard syntax */
}

#container {
	position: absolute;
	top: 10px;
	left: 100px;
	width: 499px;
	height: 499px;
	margin: 0 auto;
	background-image:url("images/closet_img.png");
	-ms-transform: scale(1,0.95); /* IE 9 */
    -webkit-transform: scale(1,0.95); /* Chrome, Safari, Opera */
    transform: scale(1,0.95); /* Standard syntax */
}

/*====================Blue Books============================*/
	
#b_books{
	position: absolute;
	width: 480px;
	height: 110px;
	top: 0px;
	left: 100px;
	margin: 0px;
	padding: 0px;
}

#b_books li {
	list-style-type: none;
}

#b_books_transparent{
	position: absolute;
	top: 70px;
	left: 120px;
	width: 410px;
	height: 120px;
	margin: 0px;
	padding: 0px;
}

#b_books_transparent li {
	list-style-type: none;
}

/*================================================*/

#b_books1{
	background-image:url("images/b_book1.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books1:hover{
	background-image:url("images/b_book1_hover.png");
}

#b_books1:active{
	background-image:url("images/b_book1_active.png");

}

#b_books1_transparent{
	background-image:url("images/b_book1_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books2 {
	background-image:url("images/b_book2.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books2:hover{
	background-image:url("images/b_book2_hover.png");
}

#b_books2:active{
	background-image:url("images/b_book2_active.png");

}

#b_books2_transparent{
	background-image:url("images/b_book2_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books3{
	background-image:url("images/b_book3.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books3:hover{
	background-image:url("images/b_book3_hover.png");
}

#b_books3:active{
	background-image:url("images/b_book3_active.png");

}

#b_books3_transparent{
	background-image:url("images/b_book3_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books4{
	background-image:url("images/b_book4.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books4:hover{
	background-image:url("images/b_book4_hover.png");
}

#b_books4:active{
	background-image:url("images/b_book4_active.png");

}

#b_books4_transparent{
	background-image:url("images/b_book4_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books5{
	background-image:url("images/b_book5.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books5:hover{
	background-image:url("images/b_book5_hover.png");
}

#b_books5:active{
	background-image:url("images/b_book5_active.png");

}

#b_books5_transparent{
	background-image:url("images/b_book5_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books6{
	background-image:url("images/b_book6.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books6:hover{
	background-image:url("images/b_book6_hover.png");
}

#b_books6:active{
	background-image:url("images/b_book6_active.png");

}

#b_books6_transparent{
	background-image:url("images/b_book6_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books7{
	background-image:url("images/b_book7.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books7:hover{
	background-image:url("images/b_book7_hover.png");
}

#b_books7:active{
	background-image:url("images/b_book7_active.png");

}

#b_books7_transparent{
	background-image:url("images/b_book7_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#b_books1.correct{background: url("images/b_book1_star.png");}
#b_books2.correct{background: url("images/b_book2_star.png");}
#b_books3.correct{background: url("images/b_book3_star.png");}
#b_books4.correct{background: url("images/b_book4_star.png");}
#b_books5.correct{background: url("images/b_book5_star.png");}
#b_books6.correct{background: url("images/b_book6_star.png");}
#b_books7.correct{background: url("images/b_book7_star.png");}


/*=====================Green Books===========================*/
#g_books_transparent{
	position: absolute;
	width: 400px;
	height: 125px;
	top: 165px;
	left: 120px;
	padding-left: 10px;
}

#g_books_transparent li {
	list-style-type: none;
}

#g_books{
	position: absolute;
	width: 430px;
	height: 110px;
	top: 0px;
	left: 100px;
	padding-left: 10px;
}	

#g_books li {
	list-style-type: none;
}

#g_books1{
	background-image:url("images/g_book1.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books1:hover{
	background-image:url("images/g_book1_hover.png");
}

#g_books1:active{
	background-image:url("images/g_book1_active.png");

}

#g_books1_transparent{
	background-image:url("images/g_book1_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books2 {
	background-image:url("images/g_book2.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books2:hover{
	background-image:url("images/g_book2_hover.png");
}

#g_books2:active{
	background-image:url("images/g_book2_active.png");

}

#g_books2_transparent{
	background-image:url("images/g_book2_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books3{
	background-image:url("images/g_book3.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books3:hover{
	background-image:url("images/g_book3_hover.png");
}

#g_books3:active{
	background-image:url("images/g_book3_active.png");

}

#g_books3_transparent{
	background-image:url("images/g_book3_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books4{
	background-image:url("images/g_book4.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books4:hover{
	background-image:url("images/g_book4_hover.png");
}

#g_books4:active{
	background-image:url("images/g_book4_active.png");

}

#g_books4_transparent{
	background-image:url("images/g_book4_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books5{
	background-image:url("images/g_book5.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books5:hover{
	background-image:url("images/g_book5_hover.png");
}

#g_books5:active{
	background-image:url("images/g_book5_active.png");

}

#g_books5_transparent{
	background-image:url("images/g_book5_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books6{
	background-image:url("images/g_book6.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books6:hover{
	background-image:url("images/g_book6_hover.png");
}

#g_books6:active{
	background-image:url("images/g_book6_active.png");

}

#g_books6_transparent{
	background-image:url("images/g_book6_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books7{
	background-image:url("images/g_book7.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books7:hover{
	background-image:url("images/g_book7_hover.png");
}

#g_books7:active{
	background-image:url("images/g_book7_active.png");

}

#g_books7_transparent{
	background-image:url("images/g_book7_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#g_books1.correct{background: url("images/g_book1_star.png");}
#g_books2.correct{background: url("images/g_book2_star.png");}
#g_books3.correct{background: url("images/g_book3_star.png");}
#g_books4.correct{background: url("images/g_book4_star.png");}
#g_books5.correct{background: url("images/g_book5_star.png");}
#g_books6.correct{background: url("images/g_book6_star.png");}
#g_books7.correct{background: url("images/g_book7_star.png");}

/*=====================Red Books===========================*/
#r_books_transparent{
	position: absolute;
	width: 400px;
	height: 120px;
	top: 270px;
	left: 120px;
	padding-left: 10px;
}

#r_books_transparent li {
	list-style-type: none;
}

#r_books{
	position: absolute;
	width: 430px;
	height: 110px;
	top: 0px;
	left: 100px;
	margin: 0px;
	padding-left: 10px;
}	

#r_books li {
	list-style-type: none;
}

#r_books1{
	background-image:url("images/r_book1.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books1:hover{
	background-image:url("images/r_book1_hover.png");
}

#r_books1:active{
	background-image:url("images/r_book1_active.png");

}

#r_books1_transparent{
	background-image:url("images/r_book1_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books2 {
	background-image:url("images/r_book2.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books2:hover{
	background-image:url("images/r_book2_hover.png");
}

#r_books2:active{
	background-image:url("images/r_book2_active.png");

}

#r_books2_transparent{
	background-image:url("images/r_book2_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books3{
	background-image:url("images/r_book3.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books3:hover{
	background-image:url("images/r_book3_hover.png");
}

#r_books3:active{
	background-image:url("images/r_book3_active.png");

}

#r_books3_transparent{
	background-image:url("images/r_book3_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books4{
	background-image:url("images/r_book4.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books4:hover{
	background-image:url("images/r_book4_hover.png");
}

#r_books4:active{
	background-image:url("images/r_book4_active.png");

}

#r_books4_transparent{
	background-image:url("images/r_book4_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books5{
	background-image:url("images/r_book5.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books5:hover{
	background-image:url("images/r_book5_hover.png");
}

#r_books5:active{
	background-image:url("images/r_book5_active.png");

}

#r_books5_transparent{
	background-image:url("images/r_book5_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books6{
	background-image:url("images/r_book6.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books6:hover{
	background-image:url("images/r_book6_hover.png");
}

#r_books6:active{
	background-image:url("images/r_book6_active.png");

}

#r_books6_transparent{
	background-image:url("images/r_book6_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books7{
	background-image:url("images/r_book7.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books7:hover{
	background-image:url("images/r_book7_hover.png");
}

#r_books7:active{
	background-image:url("images/r_book7_active.png");

}

#r_books7_transparent{
	background-image:url("images/r_book7_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#r_books1.correct{background: url("images/r_book1_star.png");}
#r_books2.correct{background: url("images/r_book2_star.png");}
#r_books3.correct{background: url("images/r_book3_star.png");}
#r_books4.correct{background: url("images/r_book4_star.png");}
#r_books5.correct{background: url("images/r_book5_star.png");}
#r_books6.correct{background: url("images/r_book6_star.png");}
#r_books7.correct{background: url("images/r_book7_star.png");}

/*=====================Yellow Books===========================*/
#y_books_transparent{
	position: absolute;
	width: 400px;
	height: 120px;
	top: 365px;
	left: 120px;
}

#y_books_transparent li {
	list-style-type: none;
}

#y_books{
	position: absolute;
	width: 430px;
	height: 110px;
	top: 0px;
	left: 100px;
	margin: 0px;

}	

#y_books li {
	list-style-type: none;
}

#y_books1{
	background-image:url("images/y_book1.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books1:hover{
	background-image:url("images/y_book1_hover.png");
}

#y_books1:active{
	background-image:url("images/y_book1_active.png");

}

#y_books1_transparent{
	background-image:url("images/y_book1_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books2 {
	background-image:url("images/y_book2.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books2:hover{
	background-image:url("images/y_book2_hover.png");
}

#y_books2:active{
	background-image:url("images/y_book2_active.png");

}

#y_books2_transparent{
	background-image:url("images/y_book2_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books3{
	background-image:url("images/y_book3.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books3:hover{
	background-image:url("images/y_book3_hover.png");
}

#y_books3:active{
	background-image:url("images/y_book3_active.png");

}

#y_books3_transparent{
	background-image:url("images/y_book3_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books4{
	background-image:url("images/y_book4.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books4:hover{
	background-image:url("images/y_book4_hover.png");
}

#y_books4:active{
	background-image:url("images/y_book4_active.png");

}

#y_books4_transparent{
	background-image:url("images/y_book4_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books5{
	background-image:url("images/y_book5.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books5:hover{
	background-image:url("images/y_book5_hover.png");
}

#y_books5:active{
	background-image:url("images/y_book5_active.png");

}

#y_books5_transparent{
	background-image:url("images/y_book5_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books6{
	background-image:url("images/y_book6.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books6:hover{
	background-image:url("images/y_book6_hover.png");
}

#y_books6:active{
	background-image:url("images/y_book6_active.png");

}

#y_books6_transparent{
	background-image:url("images/y_book6_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books7{
	background-image:url("images/y_book7.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books7:hover{
	background-image:url("images/y_book7_hover.png");
}

#y_books7:active{
	background-image:url("images/y_book7_active.png");

}

#y_books7_transparent{
	background-image:url("images/y_book7_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#y_books1.correct{background: url("images/y_book1_star.png");}
#y_books2.correct{background: url("images/y_book2_star.png");}
#y_books3.correct{background: url("images/y_book3_star.png");}
#y_books4.correct{background: url("images/y_book4_star.png");}
#y_books5.correct{background: url("images/y_book5_star.png");}
#y_books6.correct{background: url("images/y_book6_star.png");}
#y_books7.correct{background: url("images/y_book7_star.png");}

/*================test================*/

#test1 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: blue;
	top: 540px;
	left: 110px;

	border-radius: 10px;
	border: 2px solid #333;
}

#numbers1 {
	position: absolute;
	top: 560px;
	left: 170px;
	width: 210px;
	height: 40px;
}

#da_b_books1, #da_b_books2, #da_b_books3, #da_b_books4{
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}


#da_b_books1:hover, #da_b_books2:hover, 
#da_b_books3:hover, #da_b_books4:hover {

	box-shadow: 0px 0px 2px 2px #CC91B2;
}

#da_b_books1:active, #da_b_books2:active, 
#da_b_books3:active, #da_b_books4:active {

	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#test2 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: green;
	top: 650px;
	left: 110px;

	border-radius: 10px;
	border: 2px solid #333;
}

#numbers2 {
	position: absolute;
	top: 670px;
	left: 170px;
	width: 210px;
	height: 40px;
}

#da_g_books1, #da_g_books2, #da_g_books3, #da_g_books4 {
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}


#da_g_books1:hover, #da_g_books2:hover, 
#da_g_books3:hover, #da_g_books4:hover {

	box-shadow: 0px 0px 2px 2px #CC91B2;
}


#da_g_books1:active, #da_g_books2:active, 
#da_g_books3:active, #da_g_books4:active {

	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#test3 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: red;
	top: 540px;
	left: 610px;

	border-radius: 10px;
	border: 2px solid #333;
}

#numbers3 {
	position: absolute;
	top: 560px;
	left: 670px;
	width: 210px;
	height: 40px;
}

#da_r_books1, #da_r_books2, #da_r_books3, #da_r_books4 {
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}

#da_r_books1:hover, #da_r_books2:hover, 
#da_r_books3:hover, #da_r_books4:hover {

	box-shadow: 0px 0px 2px 2px #CC91B2;
}


#da_r_books1:active, #da_r_books2:active, 
#da_r_books3:active, #da_r_books4:active {

	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#test4 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: yellow;
	top: 650px;
	left: 610px;

	border-radius: 10px;
	border: 2px solid #333;
}

#numbers4 {
	position: absolute;
	top: 670px;
	left: 670px;
	width: 210px;
	height: 40px;
}

#da_y_books1, #da_y_books2, #da_y_books3, #da_y_books4 {
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}

#da_y_books1:hover, #da_y_books2:hover, 
#da_y_books3:hover, #da_y_books4:hover {

	box-shadow: 0px 0px 2px 2px #CC91B2;
}

#da_y_books1:active, #da_y_books2:active, 
#da_y_books3:active, #da_y_books4:active {

	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#howMany {
	position: absolute;
	width: 300px;
	top: 0px;
	left: 500px;
}

#b_books_guess{
	position: absolute;
	width: 300px;
	top: 515px;
	left: 110px;
}

#g_books_guess{
	position: absolute;
	width: 300px;
	top: 625px;
	left: 110px;
}

#r_books_guess{
	position: absolute;
	width: 300px;
	top: 515px;
	left: 610px;
}

#y_books_guess{
	position: absolute;
	width: 300px;
	top: 625px;
	left: 610px;
}

#guessMe1, #guessMe2, #guessMe3, #guessMe4 {
	width: 23px;
	height: 30px;
	margin-left: 15px;
	margin-top: 14px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	padding-left: 7px;
	font-size: 1.7em;
	font-family: arial bold;
}

#popUp{
	position: absolute;
	top: 250px;
	left: 140px;
	background: gray;
	width: 500px;
	height: 200px;
	border-radius: 10px;
	border: 2px solid #000;

	box-shadow: inset 0px 0px 11px 1px #333;	

    background: white;
    border-radius: 50% / 50%;
}

#pop_up_text {
	padding-top: 30px;
	padding-left: 60px;
	padding-bottom: 10px;
    font-size: 0.9em;
}

#pop_up_text_sq {
	padding-top: 30px;
	padding-left: 110px;
	padding-bottom: 10px;
}

#score {
	position: absolute;
	top: 70px;
	left: 680px;
	width: 270px;
	height: 60px;
	font-size: 1.3em;
}

#stars{
	float: left;
    margin-left: 10px;
}

#starMe{
	background-image:url("images/star.png");
	width: 58px;
	height: 56px;
	float: left;
    margin-left: 90px;
    margin-top: -20px;;
}

.back{
	position: absolute;
	top: 50px;
	left: 180px;
	width: 120px;
	height: 30px;

	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.back:hover{
	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.back:active{
	background: rgb(206,206,206); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}

.reset {
	position: absolute;
	top: 130px;
	left: 180px;
	width: 120px;
	height: 30px;

	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.reset:hover {
	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.reset:active {
	background: rgb(206,206,206); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}

#next {
	position: absolute;
	top: 380px;
	left: 280px;
}

#previous{
	position: absolute;
	top: 720px;
	left: 940px;
	margin: 0px;
	width: 120px;
	height: 28px;
	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

#previous:hover{
	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

#previous:active{
	background: rgb(206,206,206); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}