html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
/*	zoom: 90%;*/
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}
/*================closet.html page=============*/

#girly {
	position: absolute;
	left: 950px;
	top: 300px;

	-ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    transform: scale(1.2,1.2); /* Standard syntax */
}

#boyish {
	position: absolute;
	left: 950px;
	top: 300px;
}


#text_blob {
	position: absolute;
	top: 0px;
	left: 680px;
	background: url("images/text_blob.png");
	width: 640px;
	height: 400px;

	-ms-transform: scale(0.6,0.6); /* IE 9 */
    -webkit-transform: scale(0.6,0.6); /* Chrome, Safari, Opera */
    transform: scale(0.6,0.6); /* Standard syntax */
}

#help_text {
	position: absolute;
	top: 140px;
	left: 880px;
	width: 250px;
}

#help_text_sq {
	position: absolute;
	top: 140px;
	left: 880px;
	width: 250px;
}


#my_room {
	position: absolute;
	left: 20px;
	top: 65px;
	background:url("images/my_room.png") repeat-x;
	background-position: 0 -10px;
	width: 1185px;
	height: 570px;

	border: 2px solid #000;
	border-radius: 10px;

	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);

	-ms-transform: scale(1,1.2); /* IE 9 */
    -webkit-transform: scale(1,1.2); /* Chrome, Safari, Opera */
    transform: scale(1,1.2); /* Standard syntax */	
}
#container {
	position: absolute;
	top: -50px;
	left: 0px;
	width: 927px;
	height: 687px;
	margin: 0 auto;

	background:url("images/closet_open_2.png") no-repeat;
	-ms-transform: scale(0.9,0.8); /* IE 9 */
    -webkit-transform: scale(0.9,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.9,0.8); /* Standard syntax */
}

#dashirts {
	position: absolute;
	width: 480px;
	height: 110px;
	top: 235px;
	left: 320px;
	margin: 0px;
	padding: 0px;
}

#dashirts li {
	list-style-type: none;
}

#shirt_outline {
	position: absolute;
	top: 233px;
	left: 210px;
	background:url("images/bluza_outline.png") no-repeat;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */


	border-right: 2px solid #333;
	width: 104px;
	height: 100px;
	opacity: 0.3;
}

#trans_shirts {
	position: absolute;
	top: 225px;
	left: 200px;
	width: 500px;
	height: 110px;
	margin: 0px;
	padding: 0px;
}


#trans_shirts li {
	list-style-type: none;
}

/*================================================*/
#shirts1{
	background:url("images/bluza1.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts1:hover{
	background:url("images/bluza1_hover.png") no-repeat;
}

#shirts1:active{
	background:url("images/bluza1_active.png") no-repeat;
}

/*================================================*/

#shirts2{
	background:url("images/bluza2.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts2:hover{
	background:url("images/bluza2_hover.png") no-repeat;
}

#shirts2:active{
	background:url("images/bluza2_active.png") no-repeat;
}

/*================================================*/

#shirts3{
	background:url("images/bluza3.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts3:hover{
	background:url("images/bluza3_hover.png") no-repeat;
}

#shirts3:active{
	background:url("images/bluza3_active.png") no-repeat;
}

/*================================================*/

#shirts4{
	background:url("images/bluza4.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts4:hover{
	background:url("images/bluza4_hover.png") no-repeat;
}

#shirts4:active{
	background:url("images/bluza4_active.png") no-repeat;
}

/*================================================*/

#shirts5{
	background:url("images/bluza5.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts5:hover{
	background:url("images/bluza5_hover.png") no-repeat;
}

#shirts5:active{
	background:url("images/bluza5_active.png") no-repeat;
}

/*================================================*/

#shirts6{
	background:url("images/bluza6.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts6:hover{
	background:url("images/bluza6_hover.png") no-repeat;
}

#shirts6:active{
	background:url("images/bluza6_active.png") no-repeat;
}

/*================================================*/

#shirts7{
	background:url("images/bluza7.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts7:hover{
	background:url("images/bluza7_hover.png") no-repeat;
}

#shirts7:active{
	background:url("images/bluza7_active.png") no-repeat;
}

/*================================================*/

#shirts8{
	background:url("images/bluza8.png") no-repeat;
	width: 104px;
	height: 100px;
	float: left;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shirts8:hover{
	background:url("images/bluza8_hover.png") no-repeat;
}

#shirts8:active{
	background:url("images/bluza8_active.png") no-repeat;
}

/*================================================*/
#shirts1.correct{background: url("images/bluza1_star.png");}
#shirts2.correct{background: url("images/bluza2_star.png");}
#shirts3.correct{background: url("images/bluza3_star.png");}
#shirts4.correct{background: url("images/bluza4_star.png");}
#shirts5.correct{background: url("images/bluza5_star.png");}
#shirts6.correct{background: url("images/bluza6_star.png");}
#shirts7.correct{background: url("images/bluza7_star.png");}
#shirts8.correct{background: url("images/bluza8_star.png");}

/*================================================*/

#shirts1_transparent{
	background-image:url("images/bluza1_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}

#shirts2_transparent{
	background-image:url("images/bluza2_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}

#shirts3_transparent {
	background-image:url("images/bluza3_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}

#shirts4_transparent{
	background-image:url("images/bluza4_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}

#shirts5_transparent{
	background-image:url("images/bluza5_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}

#shirts6_transparent{
	background-image:url("images/bluza6_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}

#shirts7_transparent{
	background-image:url("images/bluza7_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}

#shirts8_transparent{
	background-image:url("images/bluza8_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
}
/*================shoes================*/

#shoes_transparent{
	position: absolute;
	width: 500px;
	height: 110px;
	top: 330px;
	left: 200px;
}

#shoes_transparent li {
	list-style-type: none;
}

#shoes_outline {
	position: absolute;
	top: 336px;
	left: 210px;
	background:url("images/cevli_outline.png") no-repeat;
	border-right: 2px solid #333;
	width: 104px;
	height: 100px;
	opacity: 0.3;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes{
	position: absolute;
	width: 430px;
	height: 110px;
	top: 330px;
	left: 320px;
	margin: 0px;
	padding: 0px;

}

#shoes li {
	list-style-type: none;
}

#shoes1{
	background-image:url("images/cevli1.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes1:hover{
	background-image:url("images/cevli1_hover.png");
}

#shoes1:active{
	background-image:url("images/cevli1_active.png");
}

#shoes1_transparent{
	background-image:url("images/cevli1_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes2{
	background-image:url("images/cevli2.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes2:hover{
	background-image:url("images/cevli2_hover.png");
}

#shoes2:active{
	background-image:url("images/cevli2_active.png");
}

#shoes2_transparent{
	background-image:url("images/cevli2_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes3{
	background-image:url("images/cevli3.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes3:hover{
	background-image:url("images/cevli3_hover.png");
}

#shoes3:active{
	background-image:url("images/cevli3_active.png");
}

#shoes3_transparent{
	background-image:url("images/cevli3_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes4{
	background-image:url("images/cevli4.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes4:hover{
	background-image:url("images/cevli4_hover.png");
}

#shoes4:active{
	background-image:url("images/cevli4_active.png");
}

#shoes4_transparent{
	background-image:url("images/cevli4_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes5{
	background-image:url("images/cevli5.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes5:hover{
	background-image:url("images/cevli5_hover.png");
}

#shoes5:active{
	background-image:url("images/cevli5_active.png");
}

#shoes5_transparent{
	background-image:url("images/cevli5_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes6{
	background-image:url("images/cevli6.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes6:hover{
	background-image:url("images/cevli6_hover.png");
}

#shoes6:active{
	background-image:url("images/cevli6_active.png");
}

#shoes6_transparent{
	background-image:url("images/cevli6_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes7{
	background-image:url("images/cevli7.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes7:hover{
	background-image:url("images/cevli7_hover.png");
}

#shoes7:active{
	background-image:url("images/cevli7_active.png");
}

#shoes7_transparent{
	background-image:url("images/cevli7_transparent.png");
	float: left;
	width: 104px;
	height: 100px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#shoes1.correct{background: url("images/cevli1_star.png");}
#shoes2.correct{background: url("images/cevli2_star.png");}
#shoes3.correct{background: url("images/cevli3_star.png");}
#shoes4.correct{background: url("images/cevli4_star.png");}
#shoes5.correct{background: url("images/cevli5_star.png");}
#shoes6.correct{background: url("images/cevli6_star.png");}
#shoes7.correct{background: url("images/cevli7_star.png");}
#shoes8.correct{background: url("images/cevli8_star.png");}

/*===============sox===============*/
#sox_transparent{
	position: absolute;
	width: 500px;
	height: 90px;
	top: 142px;
	left: 200px;
}

#sox_transparent li {
	list-style-type: none;
}

#sox_outline {
	position: absolute;
	top: 134px;
	left: 210px;
	background:url("images/corapi_outline.png") no-repeat;
	border-right: 2px solid #333;
	width: 104px;
	height: 100px;
	opacity: 0.3;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox{
	position: absolute;
	width: 430px;
	height: 88px;
	top: 140px;
	left: 320px;
	margin: 0px;
	padding: 0px;
}

#sox li {
	list-style-type: none;
}

#sox1{
	background-image:url("images/corapi1.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox1:hover{
	background-image:url("images/corapi1_hover.png");
}

#sox1:active{
	background-image:url("images/corapi1_active.png");

}

#sox1_transparent{
	background-image:url("images/corapi1_transparent.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox2{
	background-image:url("images/corapi2.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox2:hover{
	background-image:url("images/corapi2_hover.png");
}

#sox2:active{
	background-image:url("images/corapi2_active.png");

}

#sox2_transparent{
	background-image:url("images/corapi2_transparent.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox3{
	background-image:url("images/corapi3.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox3:hover{
	background-image:url("images/corapi3_hover.png");
}

#sox3:active{
	background-image:url("images/corapi3_active.png");

}

#sox3_transparent{
	background-image:url("images/corapi3_transparent.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox4{
	background-image:url("images/corapi4.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox4:hover{
	background-image:url("images/corapi4_hover.png");
}

#sox4:active{
	background-image:url("images/corapi4_active.png");

}

#sox4_transparent{
	background-image:url("images/corapi4_transparent.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox5{
	background-image:url("images/corapi5.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox5:hover{
	background-image:url("images/corapi5_hover.png");
}

#sox5:active{
	background-image:url("images/corapi5_active.png");

}

#sox5_transparent{
	background-image:url("images/corapi5_transparent.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox6{
	background-image:url("images/corapi6.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox6:hover{
	background-image:url("images/corapi6_hover.png");
}

#sox6:active{
	background-image:url("images/corapi6_active.png");

}

#sox6_transparent{
	background-image:url("images/corapi6_transparent.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox7{
	background-image:url("images/corapi7.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox7:hover{
	background-image:url("images/corapi7_hover.png");
}

#sox7:active{
	background-image:url("images/corapi7_active.png");

}

#sox7_transparent{
	background-image:url("images/corapi7_transparent.png");
	float: left;
	width: 104px;
	height: 78px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#sox1.correct{background: url("images/corapi1_star.png");}
#sox2.correct{background: url("images/corapi2_star.png");}
#sox3.correct{background: url("images/corapi3_star.png");}
#sox4.correct{background: url("images/corapi4_star.png");}
#sox5.correct{background: url("images/corapi5_star.png");}
#sox6.correct{background: url("images/corapi6_star.png");}
#sox7.correct{background: url("images/corapi7_star.png");}
#sox8.correct{background: url("images/corapi8_star.png");}

/*================hats=================================*/

#hats_transparent{
	position: absolute;
	width: 500px;
	height: 90px;
	top: 43px;
	left: 200px;
	margin: 0px;
	padding: 0px;
}

#hats_transparent li {
	list-style-type: none;
}

#hats_outline {
	position: absolute;
	top: 38px;
	left: 210px;
	background:url("images/hat_outline.png") no-repeat;
	border-right: 2px solid #333;
	width: 104px;
	height: 100px;
	opacity: 0.3;

	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats{
	position: absolute;
	width: 430px;
	height: 89px;
	top: 43px;
	left: 320px;
	margin: 0px;
	padding: 0px;
}

#hats li {
	list-style-type: none;
}

#hats1{
	background-image:url("images/hat1.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats1:hover{
	background-image:url("images/hat1_hover.png");
}

#hats1:active{
	background-image:url("images/hat1_active.png");

}

#hats1_transparent{
	background-image:url("images/hat1_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats2{
	background-image:url("images/hat2.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats2:hover{
	background-image:url("images/hat2_hover.png");
}

#hats2:active{
	background-image:url("images/hat2_active.png");

}

#hats2_transparent{
	background-image:url("images/hat2_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats3{
	background-image:url("images/hat3.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats3:hover{
	background-image:url("images/hat3_hover.png");
}

#hats3:active{
	background-image:url("images/hat3_active.png");

}

#hats3_transparent{
	background-image:url("images/hat3_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats4{
	background-image:url("images/hat4.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats4:hover{
	background-image:url("images/hat4_hover.png");
}

#hats4:active{
	background-image:url("images/hat4_active.png");

}

#hats4_transparent{
	background-image:url("images/hat4_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats5{
	background-image:url("images/hat5.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats5:hover{
	background-image:url("images/hat5_hover.png");
}

#hats5:active{
	background-image:url("images/hat5_active.png");

}

#hats5_transparent{
	background-image:url("images/hat5_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats6{
	background-image:url("images/hat6.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats6:hover{
	background-image:url("images/hat6_hover.png");
}

#hats6:active{
	background-image:url("images/hat6_active.png");

}

#hats6_transparent{
	background-image:url("images/hat6_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats7{
	background-image:url("images/hat7.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats7:hover{
	background-image:url("images/hat7_hover.png");
}

#hats7:active{
	background-image:url("images/hat7_active.png");

}

#hats7_transparent{
	background-image:url("images/hat7_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats8{
	background-image:url("images/hat8.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats8:hover{
	background-image:url("images/hat8_hover.png");
}

#hats8:active{
	background-image:url("images/hat8_active.png");

}

#hats8_transparent{
	background-image:url("images/hat8_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats9{
	background-image:url("images/hat9.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats9:hover{
	background-image:url("images/hat9_hover.png");
}

#hats9:active{
	background-image:url("images/hat9_active.png");

}

#hats9_transparent{
	background-image:url("images/hat9_transparent.png");
	float: left;
	width: 104px;
	height: 69px;
	-ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Chrome, Safari, Opera */
    transform: scale(0.8,0.8); /* Standard syntax */
}

#hats1.correct{background: url("images/hat1_star.png");}
#hats2.correct{background: url("images/hat2_star.png");}
#hats3.correct{background: url("images/hat3_star.png");}
#hats4.correct{background: url("images/hat4_star.png");}
#hats5.correct{background: url("images/hat5_star.png");}
#hats6.correct{background: url("images/hat6_star.png");}
#hats7.correct{background: url("images/hat7_star.png");}
#hats8.correct{background: url("images/hat8_star.png");}
#hats9.correct{background: url("images/hat9_star.png");}

#howMany {
	position: absolute;
	width: 300px;
	top: 0px;
	left: 500px;
}

#shirtNumGuess {
	position: absolute;
	width: 300px;
	top: 480px;
	left: 580px;
}

#shoesNumGuess {
	position: absolute;
	width: 300px;
	top: 590px;
	left: 580px;
}

#soxNumGuess {
	position: absolute;
	width: 300px;
	top: 590px;
	left: 180px;
}

#hatNumGuess {
	position: absolute;
	width: 300px;
	top: 480px;
	left: 180px;
}

#pantsNumGuess {
	position: absolute;
	width: 300px;
	top: 515px;
	left: 910px;
}

/*================test================*/
#test1 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: #fff;

	top: 500px;
	left: 580px;

	border-radius: 10px;
	border: 2px solid #333;
}

#shirt_BG{
	position: absolute;
	width: 104px;
	height: 100px;
	background:url("images/bluza_outline.png") no-repeat;
	opacity: 0.5;

	top: 485px;
	left: 565px;

	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#numbers1 {
	position: absolute;
	width: 210px;
	height: 40px;
	top: 520px;
	left: 650px;
}

#daShirts1, #daShirts2, #daShirts3, #daShirts4 {
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}


#daShirts1:hover, #daShirts2:hover, 
#daShirts3:hover, #daShirts4:hover {

	box-shadow: 0px 0px 2px 2px #CC91B2;
}

#daShirts1:active, #daShirts2:active, 
#daShirts3:active, #daShirts4:active {

	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#test2 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: #fff;

	top: 610px;
	left: 580px;
	border-radius: 10px;

	border: 2px solid #333;
}

#shoes_BG{
	position: absolute;
	width: 104px;
	height: 100px;
	background:url("images/cevli_outline.png") no-repeat;
	opacity: 0.5;

	top: 593px;
	left: 563px;

	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#numbers2 {
	position: absolute;
	top: 630px;
	left: 650px;
	width: 210px;
	height: 40px;
}

#daShoes1, #daShoes2, #daShoes3, #daShoes4 {
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}


#daShoes1:hover, #daShoes2:hover, 
#daShoes3:hover, #daShoes4:hover {

	box-shadow: 0px 0px 2px 2px #CC91B2;
}


#daShoes1:active, #daShoes2:active, 
#daShoes3:active, #daShoes4:active {

	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#test3 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: #fff;
	top: 610px;
	left: 180px;

	border-radius: 10px;
	border: 2px solid #333;
}

#sox_BG {
	position: absolute;
	width: 104px;
	height: 100px;
	background:url("images/corapi_outline.png") no-repeat;
	opacity: 0.5;

	top: 595px;
	left: 165px;

	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#numbers3 {
	position: absolute;
	top: 630px;
	left: 250px;
	width: 210px;
	height: 40px;
}

#daSox1, #daSox2, #daSox3, #daSox4 {
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}

#daSox1:hover, #daSox2:hover, 
#daSox3:hover, #daSox4:hover {
	box-shadow: 0px 0px 2px 2px #CC91B2;
}


#daSox1:active, #daSox2:active, 
#daSox3:active, #daSox4:active {

	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#test4 {
	position: absolute;
	width: 65px;
	height: 65px;
	background: #fff;
	top: 500px;
	left: 180px;

	border-radius: 10px;
	border: 2px solid #333;
}

#hat_BG {
	position: absolute;
	width: 104px;
	height: 100px;
	background:url("images/hat_outline.png") no-repeat;
	opacity: 0.5;

	top: 480px;
	left: 162px;

	-ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5); /* Standard syntax */
}

#numbers4 {
	position: absolute;
	top: 520px;
	left: 250px;
	width: 210px;
	height: 40px;
}


#daHats1, #daHats2, #daHats3, #daHats4 {
	width: 23px;
	height: 30px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	margin-left: 15px;
	padding-left: 7px;
	float: left;
	font-size: 1.6em;
	font-family: arial bold;
}

#daHats1:hover, #daHats2:hover, 
#daHats3:hover, #daHats4:hover {
	box-shadow: 0px 0px 2px 2px #CC91B2;
}


#daHats1:active, #daHats2:active, 
#daHats3:active, #daHats4:active {
	box-shadow: 0px 0px 2px 2px #BFC8DB;
}

#popUp{
	position: absolute;
	top: 250px;
	left: 340px;
	background: gray;
	width: 500px;
	height: 200px;
	border-radius: 10px;
	border: 2px solid #000;

	box-shadow: inset 0px 0px 11px 1px #333;	

    background: white;
    -moz-border-radius: 50% / 50%;
    -webkit-border-radius: 50% / 50%;
    border-radius: 50% / 50%;
}

#pop_up_text {
	padding-top: 30px;
	padding-left: 60px;
	padding-bottom: 10px;
}

#pop_up_text_sq {
	padding-top: 30px;
	padding-left: 130px;
	padding-bottom: 10px;
}


#guessMe1, #guessMe2, #guessMe3, #guessMe4, #guessMe5{
	width: 23px;
	height: 30px;
	margin-left: 14px;
	margin-top: 14px;
	background:yellow;
	border-radius: 10px;
	border: 2px solid #333;
	padding-left: 7px;
	font-size: 1.7em;
	font-family: arial bold;
}

#score {
	position: absolute;
	top: 130px;
	left: 870px;
	width: 270px;
	height: 60px;
	font-size: 1.3em;
}

#stars{
	float: left;
}

#starMe{
	background-image:url("images/star.png");
	width: 58px;
	height: 56px;
	float: right;
}

.back{
	position: absolute;
	top: 70px;
	left: 180px;
	width: 120px;
	height: 30px;

	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.back:hover{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.back:active{
	background: rgb(206,206,206); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}

.reset {
	position: absolute;
	top: 150px;
	left: 180px;
	width: 120px;
	height: 30px;

	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.reset:hover {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.reset:active {
	background: rgb(206,206,206); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}

#next {
	position: absolute;
	top: 650px;
	left: 1100px;
}

#previous{
	position: absolute;
	top: 650px;
	left: 50px;
	margin: 0px;
	width: 120px;
	height: 28px;
	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

#previous:hover{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

#previous:active{
	background: rgb(206,206,206); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}