html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    font-family: Arial;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}

#wholeRoom {
	position: absolute;
	left: 20px;
	top: 65px;
	background: #b53131;
	background-position: 0 -40px;
	width: 760px;
	height: 630px;

	border: 2px solid #000;
	border-radius: 10px;

	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);

	-ms-transform: scale(1,1.2); /* IE 9 */
    -webkit-transform: scale(1,1.2); /* Chrome, Safari, Opera */
    transform: scale(1,1.2); /* Standard syntax */
}

#notepad {
	position: absolute;
	background:url("images/notepad.png") repeat-x;
	top: -165px;
	left: 10px;
	width: 789px;
	height: 1096px;
	cursor:context-menu;

	-ms-transform: scale(0.9,0.65); /* IE 9 */
    -webkit-transform: scale(0.9,0.65); /* Chrome, Safari, Opera */
    transform: scale(0.9,0.65); /* Standard syntax */
}

#colorize_text {
	position: absolute;
	top: 53px;
	left: 510px;
	font-size: 1.2em;
}

#colorize{
	position: absolute;
	top: -50px;
	left: 250px;
	width: 640px;
	height: 390px;
	background: url("images/colorize.png");

	border: 4px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	-ms-transform: scale(0.3,0.3); /* IE 9 */
    -webkit-transform: scale(0.3,0.3); /* Chrome, Safari, Opera */
    transform: scale(0.3,0.3); /* Standard syntax */
}

#colorize:hover{
	-ms-transform: scale(0.35,0.35); /* IE 9 */
    -webkit-transform: scale(0.35,0.35); /* Chrome, Safari, Opera */
    transform: scale(0.35,0.35); /* Standard syntax */
}

#colorize:active{
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
	-ms-transform: scale(0.25,0.25); /* IE 9 */
    -webkit-transform: scale(0.25,0.25); /* Chrome, Safari, Opera */
    transform: scale(0.25,0.25); /* Standard syntax */
}

#size_text {
	position: absolute;
	top: 53px;
	left: 220px;
	font-size: 1.2em;
}

#size{
	position: absolute;
	top: -50px;
	left: -20px;
	width: 640px;
	height: 390px;
	background: url("images/size.png");

	border: 4px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	-ms-transform: scale(0.3,0.3); /* IE 9 */
    -webkit-transform: scale(0.3,0.3); /* Chrome, Safari, Opera */
    transform: scale(0.3,0.3); /* Standard syntax */
}

#size:hover{
	-ms-transform: scale(0.35,0.35); /* IE 9 */
    -webkit-transform: scale(0.35,0.35); /* Chrome, Safari, Opera */
    transform: scale(0.35,0.35); /* Standard syntax */
}

#size:active{
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
	-ms-transform: scale(0.25,0.25); /* IE 9 */
    -webkit-transform: scale(0.25,0.25); /* Chrome, Safari, Opera */
    transform: scale(0.25,0.25); /* Standard syntax */
}
#geometric_text {
	position: absolute;
	top: 270px;
	left: 355px;
	font-size: 1.2em;
}

#geometric{
	position: absolute;
	top: 170px;
	left: 100px;
	width: 640px;
	height: 390px;
	background: url("images/geometry.png");

	border: 4px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	-ms-transform: scale(0.3,0.3); /* IE 9 */
    -webkit-transform: scale(0.3,0.3); /* Chrome, Safari, Opera */
    transform: scale(0.3,0.3); /* Standard syntax */
}

#geometric:hover{
	-ms-transform: scale(0.35,0.35); /* IE 9 */
    -webkit-transform: scale(0.35,0.35); /* Chrome, Safari, Opera */
    transform: scale(0.35,0.35); /* Standard syntax */
}

#geometric:active{
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
	-ms-transform: scale(0.25,0.25); /* IE 9 */
    -webkit-transform: scale(0.25,0.25); /* Chrome, Safari, Opera */
    transform: scale(0.25,0.25); /* Standard syntax */
}

#theWorkingTable{
	position: absolute;
	top: 380px;
	left: 380px;
	width: 100px;
	height: 65px;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-top: 35px;
}

#theWorkingTable:hover{
	background: #eaeaea;
}

#theWorkingTable:active{
	background: #aeaeae;
   box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
}

#to_room{
	position: absolute;
	top: 680px;
	left: 470px;
	width: 200px;
	height: 25px;
	background: #eaeaea;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-top: 5px;
}

#to_room:hover{
	background: #eaeaea;
}

#to_room:active{
	background: #aeaeae;
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
}

