html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}

/*================books.html page=============*/
#container {
	position: absolute;
	top: 10px;
	left: 50px;
	width: 890px;
	height: 720px;
	background: #b53131;

	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);
}

#notepad {
	position: absolute;
	background:url("images/notepad.png") repeat-x;
	top: -185px;
	left: 60px;
	width: 789px;
	height: 1096px;
	cursor:context-menu;

	-ms-transform: scale(1.1,0.60); /* IE 9 */
    -webkit-transform: scale(1.1,0.60); /* Chrome, Safari, Opera */
    transform: scale(1.1,0.60); /* Standard syntax */
}

#textMe {
	position: absolute;
	top: 10px;
	left: 300px;
	font-size: 1.5em;
	color: #fff;
}

/*====================object_blues============================*/

/*	-ms-transform: scale(0.5,0.5); /* IE 9 */
/*    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
/*    transform: scale(0.5,0.5); /* Standard syntax */

#object_blue{
	position: absolute;
	width: 180px;
	height: 110px;
	top: 100px;
	left: 250px;
}


#object_blue_transparent {
	position: absolute;
	top: 80px;
	left: 210px;
	width: 250px;
	height: 210px;
	background: #eaeaea;
	background: rgba(0, 0, 255, 0.1);

	border: 5px solid blue;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

}

#object_blue_transparent li {
	list-style-type: none;
	display: inline-block;
}

/*================================================*/

#object_blue li {
	list-style-type: none;
}

#object_blue1{
	background-image:url("images/square_small_2.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_blue1:hover{
	background-image:url("images/square_small_2_hover.png");
}

#object_blue1:active{
	background-image:url("images/square_small_2_active.png");
}

#object_blue2{
	background-image:url("images/square_small_4.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_blue2:hover{
	background-image:url("images/square_small_4_hover.png");
}

#object_blue2:active{
	background-image:url("images/square_small_4_active.png");
}

#object_blue3{
	background-image:url("images/triangle_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_blue3:hover{
	background-image:url("images/triangle_small_hover.png");
}

#object_blue3:active{
	background-image:url("images/triangle_small_active.png");
}

#object_blue4{
	background-image:url("images/circle_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_blue4:hover{
	background-image:url("images/circle_small_hover.png");
}

#object_blue4:active{
	background-image:url("images/circle_small_active.png");
}

#object_blue1.correct{background: url("images/square_small_2_star.png"); }
#object_blue2.correct{background: url("images/square_small_4_star.png"); }
#object_blue3.correct{background: url("images/triangle_small_star.png"); }
#object_blue4.correct{background: url("images/circle_small_star.png"); }


/*=====================object_greens===========================*/

#object_green_transparent{
	position: absolute;
	width: 250px;
	height: 210px;
	top: 80px;
	left: 490px;
	background: rgba(0, 255, 0, 0.1);

	border: 5px solid #00ff18;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);
}

#object_green_transparent li {
	list-style-type: none;
}

#object_green{
	position: absolute;
	width: 180px;
	height: 110px;
	top: 100px;
	left: 250px;
}	

#object_green li {
	list-style-type: none;
}

#object_green1{
	background-image:url("images/square_green_small_2.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_green1:hover{
	background-image:url("images/square_green_small_2_hover.png");
}

#object_green1:active{
	background-image:url("images/square_green_small_2_active.png");

}

#object_green2 {
	background-image:url("images/square_green_small_4.png");
	position: absolute;
	width: 60px;
	height: 60px;
/*	-ms-transform: scale(2,2); /* IE 9 */
/*    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
/*    transform: scale(2,2); /* Standard syntax */	
}

#object_green2:hover{
	background-image:url("images/square_green_small_4_hover.png");
}

#object_green2:active{
	background-image:url("images/square_green_small_4_active.png");

}

#object_green3{
	background-image:url("images/triangle_green_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_green3:hover{
	background-image:url("images/triangle_green_small_hover.png");
}

#object_green3:active{
	background-image:url("images/triangle_green_small_active.png");

}

#object_green4{
	background-image:url("images/circle_green_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_green4:hover{
	background-image:url("images/circle_green_small_hover.png");
}

#object_green4:active{
	background-image:url("images/circle_green_small_active.png");

}

#object_green1.correct{background: url("images/square_green_small_2_star.png");}
#object_green2.correct{background: url("images/square_green_small_4_star.png");}
#object_green3.correct{background: url("images/triangle_green_small_star.png");}
#object_green4.correct{background: url("images/circle_green_small_star.png");}


/*=====================object_yellows===========================*/

#object_yellow_transparent{
	position: absolute;
	width: 250px;
	height: 210px;
	top: 310px;
	left: 210px;
	background: #eaeaea;
	background: rgba(245, 255, 107, 0.1);

	border: 5px solid yellow;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);
}

#object_yellow_transparent li {
	list-style-type: none;
}

#object_yellow{
	position: absolute;
	width: 180px;
	height: 110px;
	top: 100px;
	left: 250px;
}	

#object_yellow li {
	list-style-type: none;
}

#object_yellow1{
	background-image:url("images/square_yellow_small_2.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_yellow1:hover{
	background-image:url("images/square_yellow_small_2_hover.png");
}

#object_yellow1:active{
	background-image:url("images/square_yellow_small_2_active.png");

}

#object_yellow2 {
	background-image:url("images/square_yellow_small_4.png");
	position: absolute;
	width: 60px;
	height: 60px;
/*	-ms-transform: scale(2,2); /* IE 9 */
/*    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
/*    transform: scale(2,2); /* Standard syntax */	
}

#object_yellow2:hover{
	background-image:url("images/square_yellow_small_4_hover.png");
}

#object_yellow2:active{
	background-image:url("images/square_yellow_small_4_active.png");

}

#object_yellow3{
	background-image:url("images/triangle_yellow_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_yellow3:hover{
	background-image:url("images/triangle_yellow_small_hover.png");
}

#object_yellow3:active{
	background-image:url("images/triangle_yellow_small_active.png");

}

#object_yellow4{
	background-image:url("images/circle_yellow_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_yellow4:hover{
	background-image:url("images/circle_yellow_small_hover.png");
}

#object_yellow4:active{
	background-image:url("images/circle_yellow_small_active.png");

}

#object_yellow1.correct{background: url("images/square_yellow_small_2_star.png");}
#object_yellow2.correct{background: url("images/square_yellow_small_4_star.png");}
#object_yellow3.correct{background: url("images/triangle_yellow_small_star.png");}
#object_yellow4.correct{background: url("images/circle_yellow_small_star.png");}


/*=====================object_reds===========================*/

#object_red_transparent{
	position: absolute;
	width: 250px;
	height: 210px;
	top: 310px;
	left: 490px;
	background: #eaeaea;
	background: rgba(255, 0, 0, 0.1);

	border: 5px solid red;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);
}

#object_red_transparent li {
	list-style-type: none;
}

#object_red{
	position: absolute;
	width: 180px;
	height: 110px;
	top: 100px;
	left: 250px;
}	

#object_red li {
	list-style-type: none;
}

#object_red1{
	background-image:url("images/square_red_small_2.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_red1:hover{
	background-image:url("images/square_red_small_2_hover.png");
}

#object_red1:active{
	background-image:url("images/square_red_small_2_active.png");

}

#object_red2 {
	background-image:url("images/square_red_small_4.png");
	position: absolute;
	width: 60px;
	height: 60px;
/*	-ms-transform: scale(2,2); /* IE 9 */
/*    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
/*    transform: scale(2,2); /* Standard syntax */	
}

#object_red2:hover{
	background-image:url("images/square_red_small_4_hover.png");
}

#object_red2:active{
	background-image:url("images/square_red_small_4_active.png");

}

#object_red3{
	background-image:url("images/triangle_red_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_red3:hover{
	background-image:url("images/triangle_red_small_hover.png");
}

#object_red3:active{
	background-image:url("images/triangle_red_small_active.png");

}

#object_red4{
	background-image:url("images/circle_red_small.png");
	position: absolute;
	width: 60px;
	height: 60px;
}

#object_red4:hover{
	background-image:url("images/circle_red_small_hover.png");
}

#object_red4:active{
	background-image:url("images/circle_red_small_active.png");

}

#object_red1.correct{background: url("images/square_red_small_2_star.png");}
#object_red2.correct{background: url("images/square_red_small_4_star.png");}
#object_red3.correct{background: url("images/triangle_red_small_star.png");}
#object_red4.correct{background: url("images/circle_red_small_star.png");}


/*================test================*/
#popUp{
	position: absolute;
	top: 540px;
	left: 350px;
	background: #fff;
	width: 250px;
	height: 120px;
	float: left;
	border-radius: 10px;
	border: 2px solid #000;
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);
}

#score {
	position: absolute;
	top: -15px;
	left: 370px;
	height: 60px;
	font-size: 1.5em;
	color: #fff;
}

#stars{
	float: left;
}

.back{
	position: absolute;
	top: -15px;
	left: 5px;
	width: 120px;
	height: 30px;

	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.back:hover{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.back:active{
	background: rgb(206,206,206); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}

.reset {
	position: absolute;
	top: 40px;
	left: 5px;
	width: 120px;
	height: 30px;

	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.reset:hover {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.reset:active {
	background: rgb(206,206,206); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}
#starMe{
	background-image:url("images/star.png");
	position: absolute;
	top: 60px;
	left: 80px;
	width: 58px;
	height: 56px;
}

button{
	margin: 0 auto;
	margin-top: 14%;
	margin-left: 25%;
}

#previous {
	position: absolute;
	top: 689px;
	left: 40px;
	margin: 0px;
	width: 120px;
	height: 28px;
	border-radius: 10px;
	border: 2px solid #aeaeae;
	padding: 0;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

#previous:hover{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(99%,rgba(219,219,219,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

#previous:active{
	background: rgb(206,206,206); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #878787; 
}