html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    font-family: Arial;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}

#wholeRoom {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 1200px;
	height: 600px;
	cursor:context-menu;


	border: 2px solid #000;
	border-radius: 10px;
	background: #76d94f;
	background: url("images/my_room.png");
	background: url("images/my_room_big_white.jpg");

	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);
}

#girly {
	position: absolute;
	left: 950px;
	top: 230px;
}

#boyish {
	position: absolute;
	left: 950px;
	top: 230px;
	
	-ms-transform: scale(1.0,1.0); /* IE 9 */
    -webkit-transform: scale(1.0,1.0); /* Chrome, Safari, Opera */
    transform: scale(1.0,1.0); /* Standard syntax */

}

#text_blob {
	position: absolute;
	top: -80px;
	left: 680px;
	background: url("images/text_blob.png");
	width: 640px;
	height: 400px;

	-ms-transform: scale(0.6,0.6); /* IE 9 */
    -webkit-transform: scale(0.6,0.6); /* Chrome, Safari, Opera */
    transform: scale(0.6,0.6); /* Standard syntax */
}

#help_text {
	position: absolute;
	top: 50px;
	left: 869px;
	width: 290px;
    text-align: justify
}

#help_text_sq {
	position: absolute;
	top: 50px;
	left: 880px;
	width: 290px;
}


#window {
	background: url("images/window.png");
	position: absolute;
	top: -160px;
	left: 210px;
	width: 591px;
	height: 577px;

	-ms-transform: scale(0.4,0.4); /* IE 9 */
    -webkit-transform: scale(0.4,0.4); /* Chrome, Safari, Opera */
    transform: scale(0.4,0.4); /* Standard syntax */
}

#theCloset {
	background: url("images/closet_closed.png");
	position: absolute;
	top: 150px;
	left: 670px;
	width: 150px;
	height: 204px;
	cursor:context-menu;

	text-align: center;

	padding-top: 35px;

	-ms-transform: scale(1.4,1.4); /* IE 9 */
    -webkit-transform: scale(1.4,1.4); /* Chrome, Safari, Opera */
    transform: scale(1.4,1.4); /* Standard syntax */
}

#theCloset:hover{
	background: url("images/closet_closed_hover.png");
	cursor:context-menu;
}

#theCloset:active{
	background: #aeaeae;
	background: url("images/closet_closed_active.png");
	cursor:context-menu;
	cursor:context-menu;

}


#theToys{
	position: absolute;
	top: 50px;
	left: -210px;
	width: 815px;
	height: 544px;
	cursor:context-menu;

	background: url("images/toys_room.png");
	-ms-transform: scale(0.4,0.4); /* IE 9 */
    -webkit-transform: scale(0.4,0.4); /* Chrome, Safari, Opera */
    transform: scale(0.4,0.4); /* Standard syntax */

	text-align: center;
	padding-top: 35px;
}

#theToys:hover{
	background: url("images/toys_room_hover.png");
	cursor:context-menu;
}

#theToys:active{
	cursor:context-menu;
	background: url("images/toys_room_active.png");
}


#theBooks{
	position: absolute;
	top: 120px;
	left: 230px;
	width: 541px;
	height: 409px;
	cursor:context-menu;

	background: url("images/closet_room.png");
	-ms-transform: scale(0.4,0.4); /* IE 9 */
    -webkit-transform: scale(0.4,0.4); /* Chrome, Safari, Opera */
    transform: scale(0.4,0.4); /* Standard syntax */

	text-align: center;
	padding-top: 35px;
}

#theBooks:hover{
	background: url("images/closet_room_hover.png");
	cursor:context-menu;
}

#theBooks:active{
	background: url("images/closet_room_active.png");
	cursor:context-menu;
}


#theBed{
	position: absolute;
	top: 380px;
	left: 10px;
	width: 100px;
	height: 65px;
	cursor:context-menu;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-top: 35px;
}

#theBed:hover{
	background: #eaeaea;
	cursor:context-menu;
}

#theBed:active{
	background: #aeaeae;
	cursor:context-menu;
}

#theWorkingTable{
	position: absolute;
	top: 270px;
	left: 40px;
	width: 750px;
	height: 429px;
	cursor:context-menu;

	background: url("images/working_table.png");
	-ms-transform: scale(0.4,0.4); /* IE 9 */
    -webkit-transform: scale(0.4,0.4); /* Chrome, Safari, Opera */
    transform: scale(0.4,0.4); /* Standard syntax */

	text-align: center;
	padding-top: 35px;
}

#theWorkingTable:hover{
	background: url("images/working_table_hover.png");
	cursor:context-menu;
}

#theWorkingTable:active{
	background: url("images/working_table_active.png");
	cursor:context-menu;
}

