html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
}


#wholeRoom {
	position: absolute;
	left: 20px;
	top: 65px;
	background: #b53131;
	background-position: 0 -40px;
	width: 1100px;
	height: 630px;

	border: 2px solid #000;
	border-radius: 10px;

	box-shadow: 0px 20px 35px 5px rgba(105,105,105,0.7);

	-ms-transform: scale(1,1.2); /* IE 9 */
    -webkit-transform: scale(1,1.2); /* Chrome, Safari, Opera */
    transform: scale(1,1.2); /* Standard syntax */
}

#notepad {
	position: absolute;
	background:url("images/notepad.png") repeat-x;
	top: -200px;
	left: 100px;
	width: 789px;
	height: 1096px;
	cursor:context-menu;

	-ms-transform: scale(0.9,0.6); /* IE 9 */
    -webkit-transform: scale(0.9,0.6); /* Chrome, Safari, Opera */
    transform: scale(0.9,0.6); /* Standard syntax */
}


/* Create the animation blocks */
@-webkit-keyframes bigger{
/*	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }*/
    from {transform: scale(1.0,1.0);} /* Standard syntax */
    to {transform: scale(1.1,1.1);} /* Standard syntax */
}

@keyframes bigger{
/*	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }*/
    from {transform: scale(1.0,1.0);} /* Standard syntax */
    to {transform: scale(1.1,1.1);} /* Standard syntax */
}

#add_text {
	position: absolute;
	top: 110px;
	left: 315px;
	font-size: 1.1em;
}

#add{
	position: absolute;
	top: 130px;
	left: 300px;
	width: 110px;
	height: 110px;
	cursor:context-menu;
	background: url("images/add_room.png") no-repeat;
	opacity: 0.9;


/*	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);*/

	text-align: center;
}

#add:hover{
	cursor:context-menu;
	background: url("images/add_room_hover.png") no-repeat;

	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1); /* Standard syntax */
/*	-ms-transform: scale(1.1,1.1); /* IE 9 */
/*    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
/*    transform: scale(1.1,1.1); /* Standard syntax */
}

#add:active{
	background: url("images/add_room_active.png") no-repeat;

	-ms-transform: scale(0.9,0.9); /* IE 9 */
    -webkit-transform: scale(0.9,0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9,0.9); /* Standard syntax */
}

#subtract_text {
	position: absolute;
	top: 110px;
	left: 490px;
	font-size: 1.1em;
}


#subtraction {
	position: absolute;
	top: 130px;
	left: 470px;
	width: 110px;
	height: 110px;
	cursor:context-menu;
	background: url("images/minus_room.png") no-repeat;
	opacity: 0.9;


/*	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);*/

	text-align: center;
}

#subtraction:hover{
	cursor:context-menu;
	background: url("images/minus_room_hover.png") no-repeat;

	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1); /* Standard syntax */
}

#subtraction:active{
	background: url("images/minus_room_active.png") no-repeat;

	-ms-transform: scale(0.9,0.9); /* IE 9 */
    -webkit-transform: scale(0.9,0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9,0.9); /* Standard syntax */
}
#to_room{
	position: absolute;
	top: 620px;
	left: 610px;
	width: 200px;
	height: 25px;
	background: #eaeaea;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-top: 5px;
}

#to_room:hover{
	background: #eaeaea;
}

#to_room:active{
	background: #aeaeae;
	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
}



#to_room:active{
	background: #aeaeae;
   box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
	cursor:context-menu;
}

#geometric_text {
	position: absolute;
	top: 110px;
	left: 625px;
	font-size: 1.1em;
}


#geometric{
	position: absolute;
	top: 130px;
	left: 650px;
	width: 110px;
	height: 110px;
	cursor:context-menu;
	background: url("images/geometry_room.png") no-repeat;
	opacity: 0.9;
}

#geometric:hover{
	cursor:context-menu;
	background: url("images/geometry_room_hover.png") no-repeat;

	-ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1,1.1); /* Standard syntax */
}

#geometric:active{
	background: url("images/geometry_room_active.png") no-repeat;

	-ms-transform: scale(0.9,0.9); /* IE 9 */
    -webkit-transform: scale(0.9,0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9,0.9); /* Standard syntax */
}


#theWorkingTable{
	position: absolute;
	top: 380px;
	left: 380px;
	width: 100px;
	height: 65px;
	cursor:context-menu;

	border: 2px solid #333;
	border-radius: 10px;

	box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7);

	text-align: center;
	padding-top: 35px;
}

#theWorkingTable:hover{
	background: #eaeaea;
	cursor:context-menu;
}

#theWorkingTable:active{
	background: #aeaeae;
   box-shadow: inset 0px 0px 10px rgba(105,105,105,0.7); 
	cursor:context-menu;
}
